html {
    }
body {
    font-family: Arial, sans-serif;
}
.links{
    text-decoration: none;
    color: black;
    opacity: 0.75;
    font-size: 13px;
}
.links:hover{
    text-decoration: underline;
}
#navbar {
    height: 30px;
    align-content: center;
    }
.navleft, .navright {
    display: inline;
    margin: 8px;
    align-content: center;
    text-align: center;
}
#navbarright {
    float: right;
    margin-left: 17px;
    
}
#apps {
    height: 15px;
    width: 15px;
    position: relative;
    top: 3px;
}
.signin {
    background-color: rgb(67, 67, 241);
    text-decoration: none;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    opacity: 0.75;
    font-size: 13px;
    border-radius: 5%;
}
nav {
    background-color: white;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

div {
    width: auto;
    height: auto;
    text-align: center;
}
#searchbar {
    border: 1px solid rgb(216, 214, 214);
    width: 500px;
    height: 44px;
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.homebase {
        margin-top: 117px;
    margin-left: 275px;
}
#mag {
    height: 15px;
    width: 15px;
    margin-left: 15px;
}
#voice {
    height: 25px;
    width: 25px;
    margin-right: 15px;
}
.googlesearch{
    height: 40px;
    width: 430px;
    border-radius: 50px;
    margin-bottom: 25px;
    margin-top: 25px;
    margin-left: 20px;
    border-style: none;
}
.btn {
    height: 33px;
    width: 135px;
    border: 1px white;
    background-color: rgb(231, 231, 231);
    color: rgb(83, 83, 83);
    border-radius: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 13px;
}
p {
    color: blue;
    margin-top: 100px;
    margin-bottom: 100px;
    }